#main{
    margin-top: 10rem;
}
.row{
    margin: 1rem;
}
#ticketPurchase :hover{
    color: #f1f2fb;
}
.small_details{
    padding: 1rem;
}

#show_title{
    font-size: 3rem;
    font-weight: bold;
}

#show_organiser{
    font-size: 1rem;
}

#show_content{
padding: 2rem;
}
#show_date{
    font-size: 1.2rem;
    font-weight: bold;
}

.ticket_container{
    padding: 1rem;
    border: 2px solid #f1f2fb;
}

.ticket_button{
    padding: 1px;
    color: white;
    background-color: brown;
    max-width: fit-content;
}
.ticket_button:hover{
    background-color: blueviolet;
}

.date_container{
    border: 2px solid #f1f2fb;
}
.date_button{
    padding: 1px;
    color: white;
    background-color: blueviolet;
    max-width: fit-content;
}
.date_button:hover{
    background-color: brown;
}

.discount_container{
    border: 2px solid #f1f2fb;
}
.discount_button{
    padding: 1px;
    color: white;
    background-color: black;
    max-width: fit-content;
}
.discount_button:hover{
    background-color: gray;
}

fieldset{
    padding: 1rem;
}
legend{
    font-weight: bold;
    color: #00c5ac;
    margin-bottom: 1rem;
}

textarea{
    width: 25.5rem;
    min-height: 10rem;
}