.underline{
    width : 150px;
    height : 5px;
    background-color: #f1f2fb
}
.card-img-top{
    aspect-ratio: 177/100;
    min-width: 294px;
    max-height: 240px;
    box-shadow: 0 1px 0 #f1f2fb
}
.card{
    margin-bottom: 20px;
    height: 406px;
}
.btn-dark{

}

.shows{
    position: relative;
}

.time_badge{
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 10px;
}

.Previous{
    z-index: 999
}

.Upcoming{
    background-color: #00c5ac !important;
    z-index: 999
}

.Current{
    background-color: #ec2629 !important;
    z-index: 999
}

.Previous_img{
    filter: grayscale(70%)
}

.filter_date.active{
    background-color: #00c5ac !important;
}