@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.event,.booking-container {
    border-radius: 5px;
    background-color: #f1f2fb;
    padding-bottom: 5px;
    margin-bottom: 15px;
    /* border: 2px solid #f1f2fb; */
}

.show-info{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #00c5ac;
    font-size: 20px;
    color: #f1f2fb;
    font-weight: bold;
}

.organiser-name, .show-name{
    padding-left: 10px;
}

.show-info > .btnContainer {
    padding-left: 5px;
    font-size: 25px !important;
    font-weight: bold;
}

.ticket-container{
    margin: 10px;
}

.ticket {
    color: #00c5ac;
    border: 2px solid #00c5ac;
    padding-left: 5px;
    margin: 5px;
}

.ticket >.btnContainer, .ticket-type,
.ticket-price,.ticket-quantity,.ticket-date,.ticket-venue{
    margin: 5px 0 5px 5px;
}

.ticket-type, .ticket-price, .ticket-quantity{
    font-size: 20px;
    font-weight: bold;
}

.ticket-date, .ticket-venue {
    color: #ec2629 !important;
    font-size: 14px;
}

.booking-summary-title{
    background-color: #00c5ac;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align:center;
    padding: 10px 5px 10px 5px;
    font-size: 24px;
    border-bottom: 2px solid #f1f2fb;
    font-weight: bold;
    color:#f1f2fb;
}

.total-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight:bold;
    color: #00c5ac;
}

.total-title{
    margin-top: 10px;
    padding-left: 10px;
}

.total-amount{
    margin-top: 10px;
    padding-right: 10px;
}

.check-out-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.check-out-item{
    padding-left: 10px;
    margin: 10px 0 0 0;
}

.checkout-btn {
    margin: 10px 0 10px 0px;
    padding: 3px 10px 3px 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    background: #00c5ac;
    color: #f1f2fb;
}

.checkbox-container{
    margin: 10px 5px 10px 5px;
    display: flex;
    color:#ec2629;
    font-size: 16px;
    font-weight: bold;
}

/* Checkbox */
/* Customize the label (the container) */
#checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-left: 20px;
    margin-bottom: 12px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
#checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
#checkbox:hover input~.checkmark {
    background-color: #00c5ac;
}

/* When the checkbox is checked, add a blue background */
#checkbox input:checked~.checkmark {
    background-color: #00c5ac;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
#checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
#checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* End of Checkbox */